# Domain of service
DOMAIN=127.0.0.1.nip.io
MM_SERVICESETTINGS_SITEURL=http://${DOMAIN}:8065

WEBSITES_PORT=8065

# Container settings
## Timezone inside the containers. The value needs to be in the form 'Europe/Berlin'.
## A list of these tz database names can be looked up at Wikipedia
## https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=UTC
RESTART_POLICY=unless-stopped

# Postgres settings
## Documentation for this image and available settings can be found on hub.docker.com
## https://hub.docker.com/_/postgres
## Please keep in mind this will create a superuser and it's recommended to use a less privileged
## user to connect to the database.
## A guide on how to change the database user to a nonsuperuser can be found in docs/creation-of-nonsuperuser.md

POSTGRES_USER=mattermostadmin
POSTGRES_PASSWORD=
POSTGRES_DB=postgres
POSTGRES_SERVER=mattermostserver.postgres.database.azure.com


## Below one can find necessary settings to spin up the Mattermost container
MM_SQLSETTINGS_DRIVERNAME=postgres
MM_SQLSETTINGS_DATASOURCE=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}/${POSTGRES_DB}?sslmode=require&connect_timeout=10


# Mattermost settings
## Inside the container the uid and gid is 2000. The folder owner can be set with
## `sudo chown -R 2000:2000 ./volumes/app/mattermost`.
MATTERMOST_VOLUME_PATH=./volumes/app/mattermost
MATTERMOST_CONFIG_PATH=${MATTERMOST_VOLUME_PATH}/config
MATTERMOST_DATA_PATH=${MATTERMOST_VOLUME_PATH}/data
MATTERMOST_LOGS_PATH=${MATTERMOST_VOLUME_PATH}/logs
MATTERMOST_PLUGINS_PATH=.${MATTERMOST_VOLUME_PATH}/plugins
MATTERMOST_CLIENT_PLUGINS_PATH=${MATTERMOST_VOLUME_PATH}/client/plugins
MATTERMOST_BLEVE_INDEXES_PATH=${MATTERMOST_VOLUME_PATH}//bleve-indexes

## Bleve index (inside the container)
MM_BLEVESETTINGS_INDEXDIR=/mattermost/bleve-indexes

## This will be 'mattermost-enterprise-edition' or 'mattermost-team-edition' based on the version of Mattermost you're installing.
MATTERMOST_IMAGE=clcontainers.azurecr.io/mattermost/mattermost-enterprise-edition:6.3


